.App {
    text-align: center;
    height: 100vh;
  }
  
.leftside {
  float: left;
  margin-left: 20px;
  text-align: left;
}
.NavBar{
  display: block;
}
.Content{
  display: flex;
  justify-content: center;
  /* Chat Drawer */


  /* M3/read-only/light/surface1 */

}
.Wide{
    margin-top: -22px;
    margin-left: 428px;
}
.Narrow{
  margin-top: 30px;
  height: 85vh;
}
