.App {
    text-align: center;
    margin-top: -3vh;
    height: 103vh;
  }
  
.leftside {
float: left;
margin-left: 20px;
text-align: left;
}
.NavBar{
display: block;
}
.Content{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    
}
.Wide{
    
    margin-left: 428px;
}
.Narrow{
  height: 80%;
}
.a100{
  height: 80%;
}