.App {
    text-align: center;
    height: 100vh;
  }
  
.leftside {
float: left;
margin-left: 20px;
text-align: left;
}
.NavBar{
display: block;
}
.Content{
    display: flex;
    justify-content: center;

}
.Wide{
    margin-top: -50px;
    margin-left: 428px;
}
.Narrow{
  height: 75vh;
}
.a100{
}