html, body, #root, .App {
  height: 100%;
}

.background{ 
  background-repeat: no-repeat;
  background-size: cover;
}

.firstField{
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.secondField{
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.red{
  background-image: url('./background/Background red.svg');
}

.dark{
  background-image: url('./background/Background dark.svg');
}

.card{
  /*text-align: center;
  width: auto;
  margin: auto;
  align-items: center;
  */
  
  
  display: flex;
  justify-content: center;
  text-align: center;
  
  /*
  border-radius: 30px;
  margin-left: 300px;
  */
}
@media only screen and (max-width: 800px){
  .card {padding-top: 50%;}
}
@media only screen and (min-width: 801px){
  .card {padding-top: 15%;}
}